<div class="jumbotron">
  <h1>Simpsonspedia</h1>
  <p>
    <% if user_signed_in? %>
      <% unless current_user.admin? || current_user.premium?  %>
          Click <%= link_to 'Here', new_charge_path, class: "btn btn-primary"%> to upgrade to Premium Member Status!
      <% end %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
    <% end %>
  </p>
