<div class="jumbotron">
  <h1>Simpsonspedia</h1>
  <p>
    <% if user_signed_in? %>
      <% unless current_user.admin? || current_user.premium?  %>
          Click <%= link_to 'Here', new_charge_path, class: "btn btn-primary"%> to upgrade to Premium Member Status!
      <% end %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
    <% end %>
  </p>
</div>

  <div class="container">
      <div class="span12">
        <h4>Share your favorite Simpsons WikiQuotes!</h4>
        <h4>Use Markdown to create and edit posts!</h4>
        <h4>Collaborate with other Simpsons fans!</h4>
        <h3>"You don't win friends with salad." ~Homer Simpson<h3>
      </div>
  </div>
